body{
    margin: 0px;
    
    text-align: center;
}
.light-theme{
    background-color: #fff;
    color: #444444;
}
nav{
    display: flex;
   justify-content: flex-start;
   align-items: center;
    background-color: #503d81;
    width: auto;
    padding: 20px;
    color: #f8f8f8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    padding: .5em;
    margin: 0 auto;
    max-width: 600px;
    font-size:  1.2rem;
    line-height: 1.1;
    height: 90vh;
}
.light-theme code{
    color: red;
}
.light-end{
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%, -50%);
}
.dark-theme{
    background-color: #1f1b24;
    color: #f8f8f8;
}

.dark-theme nav{
    background-color: #332940;
}
.dark-theme code{
    color: red;
}
 .dark-end{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);

}


button{
    border: none;
    background: transparent;
    background-color: white;
}